table
{	
	border-collapse: collapse;
}
td,th
{
	border: 1px solid #333;
}
body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #f3f3f3;
}
div.but-alarm_text
{
	border: 2px solid black;
	width: 100px;
	text-align: center;
	cursor: pointer;
}
.but-alarm_cont
{
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%); 
}

div.blyr
{
	background: rgba(0,0,0,.7);
	position: absolute;
	height:100vh;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

}
