table
{	
	margin-left: 5px;
	border-collapse: collapse;
}
td,th
{
	border: 1px solid #333;
}
body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #f3f3f3;
}
div.but-alarm_text
{
	border: 2px solid black;
	width: 100px;
	text-align: center;
	cursor: pointer;
}
