*{
	margin: 0;
	padding:0;
}
table
{	
	border-collapse: collapse;	
}
td,th
{
	border: 1px solid #333;
}




table#week_day{
	width: 90%;
	margin:auto;
}
tr.table_of_contents{
	height:40px;
}
tr.table_of_contents th:nth-child(1) ,
tr.table_of_contents th:nth-child(4){
	width: 40px;
}
table#week_day tr td{
	text-align: center;
	padding:0.25em;
    
}
form{
    display: grid;
    grid-template-rows: 6em;
    grid-template-columns: repeat(15,1fr);
}
.status{
    grid-column: 2/3;
    grid-row: 1/2;
}

.but-alarm{
    grid-column: 5/6;
    grid-row: 1/2;
}

body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #f3f3f3;
}
div.but-alarm_text
{
	border: 2px solid black;
	width: 100px;
	text-align: center;
	cursor: pointer;
}
.but-alarm_cont
{
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%); 
}

div.blyr
{
	background: rgba(0,0,0,.7);
	position: absolute;
	height:100vh;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

}
